---
const today = new Date();
---

<footer class='container mt-8'>
  <div class="justify-center flex gap-4 py-8 prose text-sm max-lg:text-center">
    <a>Zenith 2025 is fiscally sponsored by The Hack Foundation (d.b.a. Hack Club), a 501(c)(3) nonprofit (EIN: 81-2908499). Contributions are tax-deductible to the fullest extent allowed by law.</a>
  </div>

	<div class='py-4 border-t'>
    <div class="md:flex text-sm text-zinc-500 max-lg:text-center prose justify-between">
      <div>Copyright © {today.getFullYear()} Zenith.</div>
      <div>Email: <a href="mailto:team@zenithhacks.org">team@zenithhacks.org</a> | <a href="https://withcabin.com/privacy/zenithhacks.org">Privacy Policy</a></div>      
    </div>
	</div>
</footer>
