---
const today = new Date();
---

<footer>
   <div class='grid grid-cols-1 md:grid-cols-2 container mt-8 border-t-2'>
      <div class='flex items-center justify-center'>
         <h1 class="text-4xl font-['Roboto'] italic my-8 mb-2">Zenith 2025</h1>
      </div>
      <div class='text-neutral-700 mt-6 text-center md:text-left'>
         <p class='text-neutral-500'>
            HCB <a class='text-neutral-800 hover:underline' href='https://hcb.hackclub.com/zenithhacks'>Zenith Hacks</a>
         </p>
         <p class='text-neutral-500'>
            GitHub <a class='text-neutral-800 hover:underline' href='https://github.com/zenith-hacks'>@zenith-hacks</a>
         </p>
         <p class='text-neutral-500'>
            Slack <a class='text-neutral-800 hover:underline' href='https://hackclub.slack.com/archives/C07HC6711PX'>#hack-zenith-2025</a>
         </p>
         <p class='text-neutral-500'>
            Email <a class='text-neutral-800 hover:underline' href='mailto:team@zenithhacks.org'>team@zenithhacks.org</a>
         </p>
         <br />
         <p class='text-neutral-500'>
            Instagram <a class='text-neutral-800 hover:underline' href='https://instagram.com/zenith_hacks'>@zenith_hacks</a>
         </p>
         <p class='text-neutral-500'>
            Threads <a class='text-neutral-800 hover:underline' href='https://threads.net/@zenith_hacks'>@zenith_hacks</a>
         </p>
         <br />
         <p><a class='hover:underline' href='https://withcabin.com/privacy/zenithhacks.org'>Privacy Policy</a></p>
         <p><a class='hover:underline' href='/code-of-conduct'>Code of Conduct</a></p>
         <div class='text-sm text-neutral-500'>
            <div>Copyright © {today.getFullYear()} Zenith.</div>
         </div>
      </div>
   </div>
   <div class='justify-center flex gap-4 py-8 prose text-sm text-center'>
      <div>
         <p class='max-w-[700px] underline mx-4'>
            Zenith 2025 is fiscally sponsored by The Hack Foundation (d.b.a. Hack Club), a 501(c)(3) nonprofit (EIN: 81-2908499).
         </p>
         <p>
            Zenith 2025 is not an official Hack Club event. Use of Hack Club branding does not constitute an endorsement, implied or otherwise. <br />
            Information on this website may be inaccurate or subject to change. Zenith 2025 is not responsible for any errors or omissions.
         </p>
      </div>
   </div>
</footer>
